@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --burgundy: #512;
  --dark-red: #813;
  --tomato: #e44;
  --orange: #f80;
  --dark-tomato: #c24;
  --dark-blue: #002;
  --dark-purple: #313;
  --off-black: #012;
  --dark-grey: #333;
  --off-white: whitesmoke; 
}

html, body {
  height: 100%;
  position: relative;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

body {
  margin: 0;
    overflow-x: hidden;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.home__hero {
  background-image: url(./react-js-main-wall.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}